/node_modules/
custom-elements.json
/dist/*
!/dist/formulizer.js
!/dist/formulizer.min.js
!/dist/formulizer.js.map
!/dist/formulizer.d.ts

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
**/stats_*.html