/node_modules/
custom-elements.json
/dist/*
!/dist/formulizer.js
!/dist/formulizer.min.js
!/dist/formulizer.js.map
!/dist/formulizer.d.ts

!/dist/ajv-dynamic.js
!/dist/ajv-dynamic.js.map
!/dist/ajv-dynamic.min.js

!/dist/markdown-dynamic.js
!/dist/markdown-dynamic.js.map
!/dist/markdown-dynamic.min.js

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
**/stats_*.html