.form {
    border-color: lightgrey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 3px 7px 15px 1px grey;
}

.output {
    font-size: larger;
    margin-top: 20px;
    background-color: lightgray;
    padding: 20px;
    border-radius:5px;
    font-family: monospace;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    border-radius:5px;
    border:2px solid #555;
}
table {
    width: 100%
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}